html {
    margin: 0;
    padding: 0;
    top: 0;
}

body {
    margin: 0;
    background-image: url(images/background.jpg);
}

header {
    background-color: #d4423e;
}

header h2 {
   font-size: 2.5rem;
   font-family: 'Dancing Script', cursive;
   text-align: center;
   color: white;
   margin: 0 0 0 0;
   padding: 1.875rem 0 0 0.9375rem;
}

header nav {
    margin-left: -1.875rem;
}

nav li {
    list-style: none; 
    margin-bottom: 0.625rem;
    padding: 0.625rem 0 0.625rem 0;
    background-color: #b32c28;
}
header nav a {
    text-decoration: none;
    color: white; 
    padding-left: 0.625rem;
    font-size: 20px;
}

#contener {
    background-color: white;
    width: 90%;
    margin-top: 0;
    margin-left: auto;
    margin-bottom: 0;
    margin-right: auto;
}

.party1 h1{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 3.125rem;
    color: #b32c28;
    padding-top: 1.5625rem;
}

.party1 i {
    font-size: 2rem;
    color: #b32c28;
}

.party1 h2 {
    font-size: 1.5625rem;
    font-family: 'Dancing Script', cursive;
    color: #b32c28;
    margin-top: -30px;
    margin-left: 50px;

}

.party2 i{
    font-size: 1.5625rem;
    color: #b32c28;
}

.party2 h2 {
    font-size: 1.5625rem;
    font-family: 'Dancing Script', cursive;
    color: #b32c28;
    margin-top: -30px;
    margin-left: 50px;
}

.party2 figure {
    width: 40%;
}

.party2 figure figcaption {
    text-align: center;
}

.party3 i {
    font-size: 1.5625rem;
    color: #b32c28;
}
.party3 h2 {
    font-size: 1.5625rem;
    font-family: 'Dancing Script', cursive;
    color: #b32c28;
    margin-top: -30px;
    margin-left: 50px;
}

